
:root{
    --textcolor: #AB4459;
    --lightcolor: #D9EAFD;
    --bgcolor: #1B1833;
    --buttoncolor: #441752;
    --hovercolor: #F29F58;
    --perkinsans: "Parkinsans", sans-serif;
    --noto: "Noto Sans", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--noto);
    color: var(--textcolor);
}

body{
    background-color: #eeee;
}


.title{
    font-size: 1.4rem;
    margin: 2rem 1rem;
    font-family: var(--perkinsans);
    color: var(--bgcolor);
}


/* ########## Best Product Slider ########## */

.slick-slide{
    margin: 1rem;
    
}


.slick-list{
    height: 25rem;
}
/* ########## Best Product Slider ########## */